.totalbody {
  display: grid;
  background-color: cornflowerblue;
  height: 98vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2vh;
}

.receptionbody {
  background-color: blueviolet;
  box-sizing: border-box;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 11;
}
.top {
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: aliceblue;
  height: fit-content;
  width: 100%;
}
.listebody {
  height: fit-content;
  min-height: 100%;
  background-color: burlywood;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 11;
}

html {
  height: 100%;
  margin: 0px;
}

.receptionloader {
  width: 100%;
  height: 100%;
}

.listeemailloader {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}
